<h1>welcome to home page</h1>
<%= video_tag 'head_over_heels.mp4', controls:"controls", preload:"auto", class:"video-js", id:"main_video" %>
<script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
